package components

templ Archives() {
	<!DOCTYPE html>
	<html lang="en">
		@Head()
		@archiveBody()
	</html>
}

templ archiveBody() {
	<body class="min-h-screen flex flex-col">
		<main class="flex-1">
			@header(CurrentPageArchived)
			@archivesContent()
		</main>
		@footer()
	</body>
}

templ archivesContent() {
	@filterForm(true)
	@loadingJobs(true)
	@drawer("job-details", "Job Application") {
		<div id="job-details"></div>
	}
}
