package components

import "github.com/Piszmog/pathwise/ui/types"

templ JobsReload(jobs []types.JobApplication, paginationOpts types.PaginationOpts, filterOpts types.FilterOpts) {
	@Jobs(jobs, paginationOpts, filterOpts)
}
