package components

import "github.com/Piszmog/pathwise/types"

templ AddJob(jobs []types.JobApplication, s types.StatsOpts, paginationOpts types.PaginationOpts, filterOpts types.FilterOpts) {
	@stats(s, "true")
	@Jobs(jobs, paginationOpts, filterOpts)
}
