package components

templ Head() {
	<!DOCTYPE html>
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>Pathwise</title>
		<script src="/assets/js/htmx@1.9.8.min.js"></script>
		<link href="/assets/css/output.css" rel="stylesheet"/>
	</head>
}
