package components

import (
	"github.com/Piszmog/pathwise/types"
	"github.com/Piszmog/pathwise/utils"
)

templ Main(j []types.JobApplication, s types.StatsOpts) {
	<!DOCTYPE html>
	<html>
		@Head()
		@body(j, s)
	</html>
}

templ body(j []types.JobApplication, s types.StatsOpts) {
	<body>
		<main>
			@header("Job Applications")
			@stats(s, "")
			@jobs(j)
			@drawer("new-job", "New Job Application") {
				@jobApplicationForm(utils.GetFirstElementID(j))
			}
		</main>
	</body>
}
