package components

import "github.com/Piszmog/pathwise/types"

templ UpdateJob(j types.JobApplication, s types.StatsOpts, entries []types.JobApplicationTimelineEntry) {
	@job(j)
	@stats(s, "true")
	@timeline(entries, "true")
}
