package components

import "github.com/Piszmog/pathwise/types"

templ UpdateJob(j types.JobApplication, s *types.StatsOpts, newTimelineEntry types.NewTimelineEntry) {
	if s != nil {
		@stats(*s, "true")
	}
	if newTimelineEntry.SwapOOB != "" {
		<div hx-swap-oob={ newTimelineEntry.SwapOOB }>
			@TimelineEntry(newTimelineEntry.Entry, false)
		</div>
	}
	@job(j)
}
