name: Nightly E2E
on:
  schedule:
    - cron: 0 0 * * *
jobs:
  e2e:
    name: End-to-End
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'
          cache: false
      - run: go mod download
      - run: go tool templ generate -path ./internal/ui/components
      - run: go tool sqlc generate
      - run: go test -v ./... -tags=e2e
